//Color Variable
$accentColor: #2196f3;
$primary-white: #FFFFFF;
$primary-black: #000000;
$book-button: indianred;

//Font-size Variable
$fontsize-xlarge: 18px;
$fontsize-large: 17px;
$fontsize-normal: 16px;
$fontsize-small: 15px;
$fontsize-xsmall: 14px;

//Font-weight Variables
$fontWeight-normal: 600;
$fontWeight-small: 500;
$fontWeight-xsmall: 400;

//Width Variables
$width: 1px;
