@import '../../../assets/scss/variables.scss';
@import '../../../styles.scss';

body {
  $font: 'Montserrat', sans-serif;
  font: 400 1rem #{$font};
}

.flex-container {
  display: flex;
  background-color: $primary-white;
  border: $width solid $primary-black;
  margin: -$width;
  line-height: normal;
  align-items: center;

  .journey-details {
    display: flex;
    flex-direction: column;
  }
}

.flex-container2 {
  border: $width solid $primary-black;
  line-height: normal;
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: $primary-white;

  &.multiple-flights {
    margin-top: 3rem;
  }
}

.flex-container2 > div {
  margin: 0.8rem;
    padding: 1.7rem;
}

.flex-container2.multiple-flights > div {
  margin: 0.15rem;
    padding: 0.15rem;
}

.flex-container > div {
  margin: 0.8rem;
    padding: 0.8rem;
}

.details-display {
  padding: 0rem 0.6rem 0rem 0.6rem;
  font-weight: $fontWeight-normal;
  float: left;
  font-size: 20px;

    &.price-color {
      color: red;
    }
}

.details-display-secondary {
  padding: 0rem 0.6rem 0rem 0.6rem;
  font-weight: 400;
  font-size: $fontsize-small;
  float: left;
  color: darkgrey;

  &.hyperlink {
    color: blue;
    /* background: white; */
    /* font-size: 15px; */
    background: none!important;
    /* color: inherit; */
    /* border: none; */
    /* padding: 0rem 0rem 0rem 0rem; */
    /* font: inherit; */
    border-bottom: 1px solid blue;
    cursor: pointer;
    /* margin: 0rem 0rem 0rem 0rem; */
    width: auto;
  }
}



.flight-value {
  display: inline-flex;

  .flight-price {
    color: red;
    font-size: $fontsize-xlarge;
    font-weight: $fontWeight-normal;
  }
}

.total-fare {
  display: block;
}

.total-fare-label {
  font-size: $fontsize-large;
  font-weight: $fontWeight-normal;
}

.btn {
  $bgColor: #dddddd;
  $color: $primary-black;

  cursor: pointer;
  @include button-mixin($bgColor, $color);
  &.btn-primary {
    @include button-mixin($accentColor, $primary-white);
    &:active {
      position: relative;
      box-shadow: 0 $width*2 darken($bgColor, 10%);
      top: $width*3;
    }
  }
}

.search-button {
  display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}


  /**************************************************\
  Custom bootstrap
  \**************************************************/
  .bordered {
    box-shadow: unset;
    background: $book-button;
    border-radius: $width*4;
    color: $primary-white;
    &:hover {
      background: $primary-white;
      color: $book-button;
      border: $width*3 solid $book-button;
    }
  }
  
  /****************************\
  WIDTH STARTS
  \****************************/
    .w-auto {
      width: 7rem;
      height: 3rem;
    }
  /****************************\
  WIDTH ENDS
  \****************************/



  /****************************\
  PADDING STARTS
  \****************************/
    .p-1-0 {
      padding: 1rem 0rem;
    }
  /****************************\
  PADDING ENDS
  \****************************/
  
  
  /*************************\
  FONT STARTS
  \*************************/
    // FONT WEIGHT
    .font-medium-dark {
      font-size: $fontsize-xsmall;
    }
  /*************************\
  FONT ENDS
  \*************************/


